body {
    background-color: #22aaff;
    font-size: 16px;
    border: 30px;
    color: darkslategrey;
    margin-left:100px;
    margin-right:100px;
    font-family: 'Roboto', sans-serif;

}



.mood-images{
    color: grey;
    height:250px;
}

a {text-decoration: none}

a:hover {
    text-decoration: underline;
}

.yellow{
    color:yellow;
}

.movie-list *{
    list-style: none;
}



.intro:first-letter{
    font-size:2em;
    color:black;
}


.class_reverse{

}


